html {
	background-color: #3a3132;
	color: #fffff9;
}

body {
	padding: 3%;
	font-family: 'Andale Mono';
}

a {
	color: #fffff9;
	text-decoration: none;
}
a:hover {
	color: #fc2e25;
}

@font-face {
    font-family: 'Andale Mono';
    src: url(fonts/Andale\ Mono.ttf);
}

.floating
{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(160px, 0px);}
    65% {-webkit-transform:translate(160px, 30px);}
    to {-webkit-transform: translate(160px, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(160px, 0px);}
    65% {-moz-transform:translate(160px, 30px);}
    to {-moz-transform: translate(160px, -0px);}    
}