html {
	background-color: #3a3132;
	color: #fffff9;
}

body {
	padding: 3%;
	font-family: 'Andale Mono';
}

a {
	color: #fffff9;
	text-decoration: none;
}
a:hover {
	color: #fc2e25;
}

@font-face {
    font-family: 'Andale Mono';
    src: url(fonts/Andale\ Mono.ttf);
}